<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>合约管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
<!-- <script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>
<link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->

<script
    src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
    href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<!-- <script src="resources/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="resources/jquery-ui-1.12.1.custom/jquery-ui.min.css" /> -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<!-- 操作完成提示插件 -->
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css"
    rel="stylesheet" />
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">

    toastr.options.positionClass = 'toast-bottom-left';
    window.onload = function(){
        var instrumentTable = new Vue({
            el:'#investorInstrument',
            data:{
                param:{},
                items:[]
            },
            created: function () {
                
            },
            methods:{
                queryInvestorInstrument:function(){
                    this.$http.get('queryInvestorInstrument/'+this.param.investorNo).then(response => {
                        if(response.body.rspCode == '00000'){
                            this.items = response.body.data;
                        }else{
                            toastr.error('查询失败'+response.body.errorMsg);
                        }
                    }, response => {
                        // error callback
                        toastr.error('查询失败'+response.body.message);
                    });
                },
                remove:function(row){
                    this.$http.post('removeInvestorInstrument',row).then(response => {
                        // success callback
                        if(response.body.rspCode == '00000'){
                            toastr.success('删除成功');
                            this.queryInvestorInstrument();
                        }else{
                            toastr.error('删除失败'+response.body.errorMsg);
                        }
                    }, response => {
                        toastr.error('删除失败'+response.body.message);
                    });
                },
                openUpdateDialog:function(row){
                    updateForm.item = row;
                    //Vue.set(updateForm,"item",row);
                    $( "#updateDialog" ).dialog( "open" );
                }
            }
        });
        
        var saveForm = new Vue({
            el:'#saveForm',
            data:{item:{}},
            methods:{
                save:function(){
                    this.$http.post('saveInvestorInstrument',this.item).then(response => {
                        // success callback
                        if(response.body.rspCode == '00000'){
                            $( "#saveDialog" ).dialog( "close" );
                            instrumentTable.queryInvestorInstrument();
                            toastr.success('保存成功');
                        }else{
                            toastr.error('保存失败'+response.body.errorMsg);
                        }
                    }, response => {
                        toastr.error('保存失败'+response.body.message);
                    });
                },
                closeDialog:function(){
                    $( "#saveDialog" ).dialog( "close" );
                }
            }
        });
        
        var updateForm = new Vue({
            el:'#updateForm',
            data:{item:{}},
            methods:{
                update:function(){
                    this.$http.post('updateInvestorInstrument',this.item).then(response => {
                        // success callback
                        if(response.body.rspCode == '00000'){
                            $( "#updateDialog" ).dialog( "close" );
                            instrumentTable.queryInvestorInstrument();
                            toastr.success('修改成功');
                        }else{
                            toastr.error('修改失败'+response.body.errorMsg);
                        }
                    }, response => {
                        toastr.error('修改失败'+response.body.message);
                    });
                },
                closeDialog:function(){
                    $( "#updateDialog" ).dialog( "close" );
                }
                
            }
        });
    }
</script>

</head>
<body>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-1 column"></div>
            <div class="col-md-10 column">

                <div th:include="common :: header"></div>

                <!-- 查询条件 -->
                <div id="investorInstrument">
                    <div class="row placeholders">
                        <form class="form-horizontal" id="queryInstrumentForm">
                            <div class="form-group">
                                <label for="investorNo" class="col-sm-1 control-label">投资者编号</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="investorNo"
                                        v-model="param.investorNo" />
                                </div>

                                <label for="instrumentId" class="col-sm-1 control-label">合约</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="instrumentId"
                                        v-model="param.instrumentId" />
                                </div>

                                <div class="col-sm-1 col-sm-offset-1">
                                    <button type="button" class="btn btn-info"
                                        v-on:click="queryInvestorInstrument()">查询</button>
                                </div>

                                <div class="col-sm-1">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#addModal">添加合约</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <table id="investorInstrumentTable"
                        class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>投资者</th>
                                <th>合约</th>
                                <th>运行状态</th>
                                <th>开仓手数</th>
                                <th>止盈跳数</th>
                                <th>止损跳数</th>
                                <th>止盈幅度</th>
                                <th>止盈回撤幅度</th>
                                <th>对冲触发类型</th>
                                <th>触发对冲比例</th>
                                <th>对冲手数</th>
                                <th>对冲止盈跳数</th>
                                <th>对冲止损跳数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item in items" v-on:dblclick="">
                                <td>{{item.investorNo}}</td>
                                <td>{{item.instrumentId}}</td>
                                <td v-if="item.status == '0'">运行中</td>
                                <td v-else-if="item.status == '1'">暂停</td>
                                <td>{{item.volume}}</td>
                                <td>{{item.stopWin}}</td>
                                <td>{{item.stopLoss}}</td>
                                <td>{{item.target}}</td>
                                <td>{{item.retracement}}</td>
                                <td v-if="item.hedgingType == '0'">按比例触发</td>
                                <td v-else-if="item.hedgingType == '1'">立即触发</td>
                                <td v-else-if="item.hedgingType == '2'">不触发</td>
                                <td v-else-if="item.hedgingType == '3'">阶梯触发</td>
                                <td>{{item.hedgingTigger}}</td>
                                <td>{{item.hedgingVolume}}</td>
                                <td>{{item.hedgingStopWin}}</td>
                                <td>{{item.hedgingStopLoss}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm"
                                        v-on:click="openUpdateDialog(item)">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </button> &nbsp;
                                    <button type="button" class="btn btn-default btn-sm"
                                        v-on:click="remove(item)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1 column"></div>
        </div>
    </div>

    <!-- 保存合约Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="saveForm">
                        <div class="form-group">
                            <label for="investorNo" class="col-sm-4 control-label">投资者</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="investorNo"
                                    v-model="item.investorNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="instrumentId" class="col-sm-4 control-label">合约</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="instrumentId"
                                    v-model="item.instrumentId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-4 control-label">运行状态</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="item.status">
                                    <option value="0">运行中</option>
                                    <option value="1">暂停</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="volume" class="col-sm-4 control-label">开仓手数</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="volume"
                                    v-model="item.volume" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stopWin" class="col-sm-4 control-label">止盈跳数</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="stopWin"
                                    v-model="item.stopWin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stopLoss" class="col-sm-4 control-label">止损跳数</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="stopLoss"
                                    v-model="item.stopLoss" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="target" class="col-sm-4 control-label">止盈幅度</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="target"
                                    v-model="item.target" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="retracement" class="col-sm-4 control-label">回撤止盈幅度</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="retracement"
                                    v-model="item.retracement" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hedgingType" class="col-sm-4 control-label">对冲触发类型</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="hedgingType"
                                    v-model="item.hedgingType">
                                    <option value="0">按比例触发</option>
                                    <option value="1">立即触发</option>
                                    <option value="2">不触发</option>
                                    <option value="3">阶梯触发</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hedgingTigger" class="col-sm-4 control-label">触发对冲比例
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hedgingTigger"
                                    v-model="item.hedgingTigger" />
                            </div>
                        </div>
                        <div class="row">
                            
                            <table id="greesTable"></table>
                        </div>
                        <div class="form-group">
                            <label for="hedgingVolume" class="col-sm-4 control-label">对冲手数
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hedgingVolume"
                                    v-model="item.hedgingVolume" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hedgingStopWin" class="col-sm-4 control-label">对冲止盈跳数
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hedgingStopWin"
                                    v-model="item.hedgingStopWin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hedgingStopLoss" class="col-sm-4 control-label">对冲止损跳数
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hedgingStopLoss"
                                    v-model="item.hedgingStopLoss" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1 col-sm-offset-3">
                                <button type="button" class="btn btn-success"
                                    v-on:click="save()">保存</button>
                            </div>
                            <div class="col-sm-1 col-sm-offset-2">
                                <button type="button" class="btn btn-danger"
                                    v-on:click="closeDialog()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <div id="updateDialog" title="修改合约">
        <form class="form-horizontal" id="updateForm">
            <div class="form-group">
                <label class="col-sm-4 control-label">投资者</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.investorNo"
                        readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">合约</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.instrumentId"
                        readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">运行状态</label>
                <div class="col-sm-6">
                    <select class="form-control" v-model="item.status">
                        <option value="0">运行中</option>
                        <option value="1">暂停</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">开仓手数</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.volume" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">止盈跳数</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.stopWin" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">止损跳数</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.stopLoss" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">止盈幅度</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.target" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">回撤止盈幅度</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="item.retracement" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">对冲触发类型</label>
                <div class="col-sm-6">
                    <select class="form-control" v-model="item.hedgingType">
                        <option value="0">按比例触发</option>
                        <option value="1">立即触发</option>
                        <option value="2">不触发</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">触发对冲比例 </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                        v-model="item.hedgingTigger" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">对冲手数 </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                        v-model="item.hedgingVolume" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">对冲止盈跳数 </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                        v-model="item.hedgingStopWin" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">对冲止损跳数 </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                        v-model="item.hedgingStopLoss" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1 col-sm-offset-3">
                    <button type="button" class="btn btn-success" v-on:click="update()">修改</button>
                </div>
                <div class="col-sm-1 col-sm-offset-2">
                    <button type="button" class="btn btn-danger"
                        v-on:click="closeDialog()">取消</button>
                </div>
            </div>
        </form>
    </div>
    <script>
    $( "#updateDialog" ).dialog({ autoOpen: false });
    </script>
</body>
</html>