<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>行情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
<script type="text/javascript"
    src="resources/bootstrap/js/bootstrap.min.js"></script>
<link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script src="resources/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet"
    href="resources/jquery-ui-1.12.1.custom/jquery-ui.min.css" />

<script type="text/javascript">

    window.onload = function(){
        $( "#orderBoard" ).dialog({ autoOpen: false });
        var marketTable = new Vue({
            el:'#marketTable',
            data:{
                instruments:{}
            },
            created: function () {
                // `this` 指向 vm 实例
                console.log('a is: ' + this.a)
                //this.queryInstrumentNames();
                this.websocket();
            },
            methods:{
                queryInstrumentNames:function(){
                    this.$http.get('queryInstrumentName').then(response => {
                        // success callback
                        for(var i=0 ; i< response.body.length ; i++){
                            var key = response.body[i];
                            //this.instruments[key] = key;  
                            //Vue 不能检测对象属性的添加或删除 使用下面的语法
                            Vue.set(marketTable.instruments, key, {});
                        }
                    }, response => {
                        // error callback
                    });
                },
                orderBoard:function(row){
                    console.log(row);
                    Vue.set(orderForm,"market",row);
                    $( "#orderBoard" ).dialog( "open" );
                },
                websocket:function(){
                    if ("WebSocket" in window){
                        // 打开一个 web socket
                        var ws = new WebSocket("ws://localhost:8090/market/subscribe");

                        ws.onopen = function(){
                            // Web Socket 已连接上，使用 send() 方法发送数据
                            //ws.send(shopId);
                            //alert("数据发送中：...");
                        };

                        ws.onmessage = function (evt){
                            var received_msg = evt.data;
                            var marketData =  JSON.parse(received_msg);
                            //this.instruments[marketData.instrumentID] = marketData;
                            Vue.set(marketTable.instruments, marketData.instrumentID, marketData);
                            //alert("数据已接收:"+received_msg);
                        };

                        ws.onclose = function(){
                            // 关闭 websocket
                            alert("连接已关闭...");
                        };
                    } else {
                        // 浏览器不支持 WebSocket
                        alert("您的浏览器不支持 WebSocket!");
                    }
                }
            }
            
        });
        
        var orderForm = new Vue({
           el:"#orderForm",
           data:{
               market:{},
               requestOrder:{
                   volumeTotalOriginal:1,
                   minVolume:1,
                   orderPriceType:"LimitPrice",
                   investorId:"001",
                   accountNo:"unknow",
                   direction:"BUY"
               }
           },
           methods:{
               reqOrderInsert:function(combOffsetFlag){
                  this.requestOrder["instrumentId"] = this.market.instrumentID;
                  this.requestOrder["combOffsetFlag"] = combOffsetFlag;
                  this.requestOrder["limitPrice"] = this.market.lastPrice;
                  this.$http.post('reqOrderInsert',this.requestOrder).then(response => {
                       // success callback
                       
                       //this.instruments = response.body;
                   }, response => {
                       // error callback
                   });
               }
           }
       });
    }
</script>

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-1 column"></div>
            <div class="col-md-10 column">

                <div th:include="head :: header"></div>

                <div class="row pre-scrollable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>合约</th>
                                <th>最新价</th>
                                <th>买价</th>
                                <th>买量</th>
                                <th>卖价</th>
                                <th>卖量</th>
                                <th>涨跌</th>
                                <th>涨跌幅</th>
                                <th>涨停价</th>
                                <th>跌停价</th>
                                <th>成交量</th>
                                <th>今开盘</th>
                                <th>最低价</th>
                                <th>最高价</th>
                                <th>昨收盘</th>
                                <th>昨结算</th>
                            </tr>
                        </thead>
                        <tbody id="marketTable">
                            <tr v-for="(value,key) in instruments" :key="key"
                                v-on:dblclick="orderBoard(value)">
                                <td>{{ key }}</td>
                                <td>{{ value.lastPrice }}</td>
                                <td>{{ value.bidPrice1 }}</td>
                                <td>{{ value.bidVolume1 }}</td>
                                <td>{{ value.askPrice1 }}</td>
                                <td>{{ value.askVolume1 }}</td>
                                <td>{{ value.lastPrice-value.preSettlementPrice }}</td>
                                <td>{{
                                    Math.round((value.lastPrice-value.preSettlementPrice)*10000/value.preSettlementPrice
                                    ) / 100 }}%</td>
                                <td>{{ value.upperLimitPrice }}</td>
                                <td>{{ value.lowerLimitPrice }}</td>
                                <td>{{ value.volume }}</td>
                                <td>{{ value.openPrice }}</td>
                                <td>{{ value.lowestPrice }}</td>
                                <td>{{ value.highestPrice }}</td>
                                <td>{{ value.preClosePrice }}</td>
                                <td>{{ value.preSettlementPrice }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="orderBoard" title="下单板">
                    <form class="form-horizontal" id="orderForm">
                        <div class="form-group">
                            <label for="investorNo" class="col-sm-4 control-label">投资者</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="investorNo"
                                    v-model="requestOrder.investorId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="accountNo" class="col-sm-4 control-label">账号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="accountNo"
                                    v-model="requestOrder.accountNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="indetrumentId" class="col-sm-4 control-label">合约</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="indetrumentId"
                                    v-model="market.instrumentID" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="volume" class="col-sm-4 control-label">手数</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="volume"
                                    v-model="requestOrder.volumeTotalOriginal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-4 control-label">价格</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="price"
                                    v-model="market.lastPrice" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BUG" class="col-sm-2 col-sm-offset-2 control-label">买</label>
                            <div class="col-sm-2">
                                <input type="radio" class="form-control" id="BUG" value="BUY"
                                    v-model="requestOrder.direction" />
                            </div>
                            <label for="SELL" class="col-sm-2 control-label">卖</label>
                            <div class="col-sm-2">
                                <input type="radio" class="form-control" id="SELL" value="SELL"
                                    v-model="requestOrder.direction" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-1">
                                <button type="button" class="btn btn-success"
                                    v-on:click="reqOrderInsert('OPEN')">开 仓</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-danger"
                                    v-on:click="reqOrderInsert('CLOSE')">平 仓</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-warning"
                                    v-on:click="reqOrderInsert('CloseToday')">平 今</button>
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                $( "#orderBoard" ).dialog({ autoOpen: false });
                </script>
            </div>
            <div class="col-md-1 column"></div>
        </div>
    </div>

</body>
</html>