<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>指标管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">

<!-- 操作完成提示插件 -->
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<script type="text/javascript">

    toastr.options.positionClass = 'toast-bottom-left';
    window.onload = function(){
        var emaTable = new Vue({
            el:'#emaTable',
            data:{
                items:[]
            },
            created: function () {
                this.queryEmaList();
            },
            methods:{
                queryEmaList:function(){
                    this.$http.get('queryEmaList').then(response => {
                        this.items = response.body.data;
                    }, response => {
                        // error callback
                    });
                },
                quotaDetail:function(row){
                    Vue.set(quotaForm,"EMA",row);
                    $( "#quotaDetail" ).dialog( "open" );
                },
                remove:function(row){
                    this.$http.delete('removeEma/'+row.instrumentId).then(response => {
                        // success callback
                        if(response.body.rspCode == '00000'){
                            toastr.success('删除成功');
                            this.queryEmaList();
                        }
                    }, response => {
                        toastr.error('删除失败'+response.body.errorMsg);
                    });
                }
            }
        });
        
        var quotaForm = new Vue({
            el:'#quotaForm',
            data:{EMA:{}},
            methods:{
                save:function(){
                    this.$http.post('saveEma',this.EMA).then(response => {
                        // success callback
                        if(response.body.rspCode == '00000'){
                            $( "#quotaDetail" ).dialog( "close" );
                            toastr.success('保存成功');
                        }
                    }, response => {
                        toastr.error('保存失败'+response.body.errorMsg);
                    });
                }
            }
        });
    }
</script>

</head>
<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">指标管理</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                             <a href="market.html">行情</a>
                        </li>
                        <li>
                             <a href="instrument.html">合约</a>
                        </li>
                        <li class="active">
                             <a href="quota.html">指标</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a href="#">Action</a>
                                </li>
                                <li>
                                     <a href="#">Another action</a>
                                </li>
                                <li>
                                     <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                     <a href="#">Action</a>
                                </li>
                                <li>
                                     <a href="#">Another action</a>
                                </li>
                                <li>
                                     <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </nav>
            <table id="emaTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>合约</th>
                        <th>时间</th>
                        <th>周期</th>
                        <th>ema5</th>
                        <th>ema619</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item in items" v-on:dblclick="">
                        <td>{{item.instrumentId}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.period}}</td>
                        <td>{{item.ema5}}</td>
                        <td>{{item.ema619}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" v-on:click="quotaDetail(item)">
                                <i class="glyphicon glyphicon-cog"></i>
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-default btn-sm" v-on:click="remove(item)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
</div>
<div id="quotaDetail" title="EMA详情">
    <form class="form-horizontal" id="quotaForm">
      <div class="form-group">
        <label for="investorNo" class="col-sm-4 control-label">合约</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="instrumentId" v-model="EMA.instrumentId">
        </div>
      </div>
      <div class="form-group">
        <label for="accountNo" class="col-sm-4 control-label">时间</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" v-model="EMA.title">
        </div>
      </div>
      <div class="form-group">
        <label for="indetrumentId" class="col-sm-4 control-label">周期</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="period" v-model="EMA.period" >
        </div>
      </div>
      <div class="form-group">
        <label for="volume" class="col-sm-4 control-label">ema5</label>
        <div class="col-sm-6">
           <input type="text" class="form-control" id="ema5" v-model="EMA.ema5">
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-4 control-label">ema619</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="ema619" v-model="EMA.ema619">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 col-sm-offset-5">
            <button type="button" class="btn btn-success" v-on:click="save()">保存</button>
        </div>
      </div>
    </form>
</div>
<script>
    $( "#quotaDetail" ).dialog({ autoOpen: false });
    </script>
</body>
</html>